[submodule "deps/bootstrap"]
	path = deps/bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "deps/authbuttons"]
	path = deps/authbuttons
	url = git://github.com/intridea/authbuttons.git
