%h2 画像を選んでください
%form.form-inline{:action => "/upload", :method => "POST", :enctype => "multipart/form-data"}
  %input.input{:type => "file", :name => "image"}
  %input.btn{:type => "submit", :value => "送信"}
