%h1 目からビーム画像ジェネレータ

%h2 説明
%p
  %a{:href => "http://kaolabo.com/webapi", :target => "_blank"} 顔ラボ 顔検出WebAPI
  を使って画像から顔、目を検出し、自動でビームを合成した画像を生成します。
%p
  顔を検出できなかったら何もしません。
%h2 作る
%h3 ・画像URLを指定して作る
%form.form-inline{:action => "/submit", :method => "POST"}
  %input.input-xxlarge{:type => "text", :name => "url", :placeholder => "画像のURLを入力してください"}
  %input.btn{:type => "submit", :value => "決定"}
%h3 ・ファイルをアップロードして作る
%p 画像を選んでください。
%form.form-inline{:action => "/submit", :method => "POST", :enctype => "multipart/form-data"}
  %input.input{:type => "file", :name => "image"}
  %input.btn{:type => "submit", :value => "送信"}
