!!! 5
%html
  %head
    %meta{:charset => "UTF-8"}
    %title 目からビーム画像ジェネレーター
    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}
    %link{:rel => "stylesheet/less", :href => "/lib/bootstrap/less/bootstrap.less"}
    %script{:type => "text/javascript", :src => "/lib/less/less.js"}
    %script{:type => "text/javascript", :src => "/js/main.js"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/style.css"}
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{:href => "/"} 目からビーム画像ジェネレーター
    .container.main
      != yield
      %hr
      %footer
        .kaolabo.pull-left
          %a{:href => "http://kaolabo.com/webapi"}
            %img{:src => "http://kaolabo.com/wp-content/uploads/images/banner_125_50.gif"}
        .pull-right
          %span created by
          %a{:href => "https://twitter.com/#!/sugyan"} @sugyan
