h1, h2 {
    padding: 10px 0;
}

.container.main {
    padding-top: 40px;
}

#image {
    width: 384px;
    height: 384px;
    border: lightgray 1px solid;
    text-align: center;
}

#image p {
    line-height: 384px;
}
